body {
  padding: 0px;
  margin: 0px;
  height: 100vh;
}

main {
  display: flex;
}

.section-first {
  min-width: 35%;
  background: linear-gradient(45deg, hsl(264, 100%, 61%), hsl(293, 100%, 63%));
  height: 90vh;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  margin-left: -80px;
}

.section-second {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-second .text {
  width: 30%;
  line-height: 1.3;
}

.text h1 {
  color: hsl(271, 36%, 24%);
  font-weight: 900;
}

/* chat application */

.mobile {
  box-sizing: border-box;
  position: fixed;
  min-width: 250px;
  height: 500px;
  border-radius: 20px;
  background-color: white;
  top: 23%;
  left: 28%;
  padding: 10px;
  box-shadow: 0 0 50px #ccc;
}

.inside-mobile {
  border-radius: 20px;
  height: 100%;
  width: 100%;
  background-color: hsl(270, 20%, 96%);
  padding: 1px;
}

.round {
  width: 150px;
  height: 30px;
  background-color: white;
  border-radius: 16px;
  margin: 0 auto;
  margin-top: -12px;
  box-shadow: 0 0 50px #ccc;
}
