body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  background-color: hsl(225, 100%, 94%);

  background-image: url("images/pattern-background-desktop.svg");
  background-repeat: no-repeat;
  background-size: contain;
}
.wrapper {
  width: 420px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-style: solid;
  border-color: white;
  border-width: 1px;
  border-radius: 20px;
  background-color: white;
}
header {
  background: url("./images/illustration-hero.svg");
  width: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  height: 220px;
  margin-bottom: 10px;
  border-radius: 10px;
}
main {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
main p {
  text-align: center;
  font-size: 20px;
  font-weight: 400;
}
.med {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 2px solid black;
  border-style: none;
  background-color: hsl(225, 100%, 98%);
  margin: 30px 0px;
  border-radius: 10px;
}
main p {
  margin-bottom: 0px;
}

.med-top {
  display: flex;
  /* flex-direction: column; */
  justify-content: space-evenly;
  align-items: center;

  width: 100%;
}
.med-top h3 {
  margin-top: 0px;
  font-size: 16px;
}
.med-top p {
  margin-bottom: 0px;
}

.med-top img {
  height: 50px;
}
.img-se {
  position: relative;
  left: -39px;
}
.med-top img {
  position: relative;
  left: -20px;
}

div .btn {
  background-color: hsl(245, 75%, 52%);
  color: white;
  width: 100%;
  padding: 15px;
  border-radius: 10px;
  margin-top: 0px;
}

.last-p {
  margin-bottom: 30px;
  font-weight: 900;
  color: hsl(224, 23%, 55%);
}

.img-se h3,
.para {
  color: hsl(224, 23%, 55%);
}

.med > h3 {
  color: hsl(245, 75%, 52%);
  text-decoration: underline;
  margin-right: 8px;
}
