body {
  font-size: 15px;
  background-color: hsl(216, 12%, 8%);
  box-sizing: border-box;
  display: flex;
  align-content: center;
  justify-content: center;
}

button,
.star {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border-style: none;
  background-color: hsla(216, 10%, 54%, 0.2);
  font-weight: 700;
}

.back {
  background-color: orange;
}

.star {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px;
}

button,
h1,
p {
  color: hsl(217, 12%, 63%);
}

.btngroup {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0px;
}

#rateCard {
  width: 300px;
  height: 300px;
  border: 2px solid red;
  padding: 20px;
  background-color: hsl(213, 19%, 18%);
  border-color: hsl(213, 19%, 18%);
  border-radius: 20px;
  display: flex;
  flex-direction: column;

  justify-content: space-around;
  padding-bottom: 30px;
  position: relative;
}

h1 {
  color: white;
  margin-bottom: 0px;
  margin-top: 0px;
}
#submit {
  border-radius: 25px;
  width: 100%;
  background-color: orange;
  color: white;
  letter-spacing: 2px;
  font-weight: 700;
}

.thank {
  position: absolute;
  height: 500px;
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  border: 2px solid red;
}

.thank p {
  color: orange;
  border-radius: 20px;
  padding: 8px 25px;
  font-size: 16px;

  border-style: none;
  background-color: hsla(216, 10%, 54%, 0.2);
  border-color: hsla(216, 10%, 54%, 0.2);
}
