body {
  height: 100vh;
  font-size: 15px;
  background-color: hsl(216, 12%, 8%);
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}

button,
.star {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border-style: none;
  background-color: hsla(216, 10%, 54%, 0.2);
  font-weight: 700;
}

.back {
  background-color: orange;
}

.star {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px;
}

button,
h1,
p {
  color: hsl(217, 12%, 63%);
}

.btngroup {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0px;
}

#rateCard {
  width: 300px;
  height: 300px;
  padding-bottom: 30px;
}

.thank,
#rateCard {
  padding: 20px;
  background-color: hsl(213, 19%, 18%);
  border-color: hsl(213, 19%, 18%);
  border-radius: 20px;
  display: flex;
  flex-direction: column;

  justify-content: space-around;
}

h1 {
  color: white;
  margin-bottom: 0px;
  margin-top: 0px;
}
#submit {
  border-radius: 25px;
  width: 100%;
  background-color: orange;
  color: white;
  letter-spacing: 2px;
  font-weight: 700;
}

.thank {
  height: 450px;
  width: 450px;
  padding: 30px;
  align-items: center;
  box-sizing: border-box;
}

.thank p {
  color: orange;
  border-radius: 20px;
  padding: 12px 25px;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 1px;
  border-style: none;
  background-color: hsla(216, 10%, 54%, 0.2);
  border-color: hsla(216, 10%, 54%, 0.2);
}
.thank h3 {
  color: lightgray;
  letter-spacing: 1.5px;
  font-weight: 400;
  margin: 0px;
  line-height: 1.3;
}

.thank h1 {
  margin: 15px;
}
.thank #thek {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.btngroup button:hover,
.btngroup button:focus {
  cursor: pointer;
  background-color: orange;
}

#submit:hover,
#submit:focus {
  background-color: #e7e2d1;
  color: orange;
  cursor: pointer;
  cursor: hand;
}
